@media (min-width: 900px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #menu {
        display: none;
    }
    

    header > #actionCall {
        grid-column: 3/4;
        font-size: 4vw;
    }
    
    #discover img{
        grid-column: 1;
        grid-row: 1;
    }
    #discover .desc-container {
        grid-column: 2;
        align-content: center;
    }
    .desc-container {
        height: 25vw;
    }
    .desc-container a {
        margin: 0px 10vw;
        font-size: 4vw;
        padding: 1vw;
    }
    #directory img{
        grid-column: 2;
        grid-row: 1;
    }
    #directory .desc-container {
        grid-column: 1;
        grid-row: 1;
        align-content: center;
    }
    section h2{
        font-size: 9vw;
    }
    section p{
        font-size: 2.5vw;
    }
    /* #Mem1 {
        grid-column: 2/3;
    }
    #Mem2 {
        grid-column: 4/5;
    }
    #Mem3 {
        grid-column: 6/7;
    } */
    #spotlight {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    article {
        width: 25vw;
        padding: 3vw 2vw;
        margin: 0vw;
        max-width: 30vw;
        transition: transform .3s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    article:hover {
        transform: scale(1.05);
    }
    article h3 {
        font-size: 3vw;
        padding: 0vw;
    }
    article p{
        font-size: 2vw;
        padding: 0vw;
    }
    article a{
        font-size: 2vw;
    }

    #actionCall {
        transition: transform .2s ease;
    }
    #actionCall:hover {
        transform: scale(1.05);
    }

    main#discover #cards {
        grid-column: 1;
        grid-row: auto;
        font-size: 6vw;
        text-align: center;
        width: 100%;
    }

    #cards section {
        margin: 2vw 2vw;
        padding: 3vw;
        transition: transform .3s ease;
    }

    main#discover h2 {
        font-size: 5vw;
        padding: 1vw;
    }

    main#discover p {
        font-size: 2vw;
        padding: 1vw;
    }

    main#discover #pictures {
        grid-column: 2;
        grid-row: 1;
        width: 95%;
        margin: 0px;
        gap: 0px;
    }

    #pictures img {
        padding: 3vw;
        box-sizing: border-box;
        transition: transform .3s ease;
    }

    main#discover {
        align-items: start;
    }

    main#discover section:hover, #pictures img:hover{
        transform: scale(1.05);
    }

    /* ----- Join Rules ----- */
    aside {
        grid-column: 2;
    }

    .jp form {
        grid-column: 1;
    }

    .jp input:not([type="radio"]) {
        min-height: 44px;
        height: 4vw;
        width: 65%;
        font-size: 6vw;
    }

    .jp input[type=submit] {
        background-color: rgb(194, 0, 0);
        border: none;
        border-radius: 1.5vw;
        margin: 1.5vw 2% 0px 2%;
        width: 61%;
        font-size: 2vw;
        height: 5vw;
    }

    .jp input {
        padding: 0px 1vw;
    }

    fieldset {
        font-size: 3vw;
    }

    .jp input:not([type="radio"]) {
        font-size: 2vw;
    }

    .jp textarea {
        font-size: 2vw;
    }

    .jp label, .jp div{
        font-size: 2vw;
    }

    .card h2 {
        font-size: 5vw;
    }
    .card h2:hover {
        cursor: pointer;
    }

    .card h3 {
        font-size: 3vw;
    }

    .card li {
        font-size: 2vw;
    }

    .card {
        transition: transform .3s ease;
    }
    .card:hover {
        transform: scale(1.03);
    }

    .jp input[type="radio"] {
        width: 3vw;
        height: 3vw;
    }

    .jp input:required{
        border-right: 1vw solid rgb(194, 0, 0);
    }
    .jp input:required:valid{
        border-right: 1vw solid rgb(0, 151, 33);
    }

    aside h2 {
        font-size: 6vw;
        margin-top: 2vw;
    }

    .dir section {
        padding: 2vw;
        transition: transform .3s ease;
    }
    .dir section:hover {
        transform: scale(1.03);
    }

    .dir h2 {
        font-size: 270%;
    }

    .dir h3 {
        font-size: 200%;
    }

    .dir a {
        padding: 1vw;
    }
}