@media (min-width: 900px) {
    #discover img{
        grid-column: 1;
        grid-row: 1;
    }
    #discover .desc-container {
        grid-column: 2;
        align-content: center;
    }
    .desc-container {
        height: 25vw;
    }
    .desc-container a {
        margin: 0px 10vw;
        font-size: 4vw;
        padding: 1vw;
    }
    #directory img{
        grid-column: 2;
        grid-row: 1;
    }
    #directory .desc-container {
        grid-column: 1;
        grid-row: 1;
        align-content: center;
    }
    section h2{
        font-size: 9vw;
    }
    section p{
        font-size: 2.5vw;
    }
    #Mem1 {
        grid-column: 2/3;
    }
    #Mem2 {
        grid-column: 4/5;
    }
    #Mem3 {
        grid-column: 6/7;
    }
    article {
        margin: 1vw;
    }
    article h3 {
        font-size: 5vw;
    }

    main#discover #cards {
        grid-column: 1;
        grid-row: auto;
        font-size: 6vw;
        text-align: center;
        width: 100%;
    }

    #cards section {
        margin: 2vw 2vw;
        padding: 3vw;
        transition: transform .3s ease;
    }

    main#discover h2 {
        font-size: 5vw;
        padding: 1vw;
    }

    main#discover p {
        font-size: 2vw;
        padding: 1vw;
    }

    main#discover #pictures {
        grid-column: 2;
        grid-row: 1;
        width: 95%;
        margin: 0px;
    }

    #pictures img {
        padding: 3vw;
        box-sizing: border-box;
        transition: transform .3s ease;
    }

    main#discover {
        align-items: start;
    }

    main#discover section:hover, #pictures img:hover{
        transform: scale(1.05);
    }

}