:root {
    --night: #161313ff;
    --eggshell: #f4ebd9ff;
    --moss-green: #779150ff;
    --steel-blue: #5580a3ff;
    --hunter-green: #315f38ff;
}

body {
    background-color: var(--eggshell);
    font-family: 'Titillium Web', 'Times New Roman';
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main h1 {
    grid-column: 1/4;
    font-size: 5vw;
    text-align: center;
    margin: .5rem;
    margin-bottom: 0rem;
    padding: 1vw;
}

.card {
    grid-column: 1/4;
    margin: .5rem;
    text-align: center;
    border: solid .8vw var(--night);
    border-radius: 6vw;
    color: var(--night);
}

.card h2 {
    background-color: var(--steel-blue);
    border-radius: 5vw 5vw 0vw 0vw;
    color: white;
    font-size: 5.5vw;
    margin: 0px;
    padding: 2vw;
}

footer {
    /* border: .8vw solid var(--night); */
    background-color: var(--hunter-green);
    color: white;
    padding: 1vw;
    margin: .5rem;
    border-radius: 4vw;
}

footer p {
    margin: .2vw;
    text-align: center;
}

span {
    background-color: var(--hunter-green);
    padding: 4vw 3vw;
    margin: .5rem;
    display: inline-flex;
    max-width: 100%;
    align-content: center;
    justify-content: center;
    border-radius: 5vw;
}

span img {
    max-width: 35%;
    border-radius: 3vw;
}

span b {
    color: var(--eggshell);
    align-self: center;
    padding: 2vw;
    margin: 0px;
    font-size: 12vw;
    text-align: center;
}

nav {
    background-color: var(--night);
    margin: 0px .5rem;
    border-radius: 5vw;
    padding: 2vw;
}

button {
    padding: 2.5vw 12vw;
    border: none;
    border-radius: 3vw;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

#menu {
    background-color: var(--moss-green);
    color: var(--night);
    display: flex;
    align-self: right;
    font-size: 6vw;
}

#menu::before {
    content: "☰";
}
#menu.seen::before{
    content: "X";
    color: red;
}

.seen {
    display: flex;
}

nav {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    list-style: none;
    margin: 0px .5rem;
    padding: 2vw 2vw;
}

nav a {
    text-align: center;
    width: 95%;
}

#active {
    background-color: var(--hunter-green);
    border-radius: 3vw;
    padding: 1vw;
}

a {
    display: block;
    text-decoration: none;
    margin: 0vw 2vw ;
    padding: 1vw;
    font-size: 6vw;
}

nav a {
    color: var(--eggshell);
}

.card li a{
    font-size: 5vw;
    margin: 1vw;
    padding: 0px;
    text-decoration: underline;
    color: var(--night);
}

.card li {
    font-size: 5vw;
    margin: 2vw .5vw;
    display: flex;
    justify-content: left;
    align-items: center;
}
.card ul {
    align-items: start;
    margin: 0px;
    padding: 2vw;
    text-align: left;
}

a:hover {
    background-color: var(--moss-green);
    color: var(--night);
    border-radius: 3vw;
    padding: 1vw;
}

